.pre_price_strike{
    position: relative; 
    color:gray;  
    width:max-content;
}

.pre_price_strike::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius:2px;
    transform: rotate(352deg) translateY(18px) scale(1.2);
    background: black;
    opacity: .8;
}

.new_deal_contact.new_deal_contact{
    font-size: 1.3rem;
    color: gray;
    font-weight: light;
}